<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">
    <link rel="shortcut icon" href="/coreui/img/favicon.png">
    <title>暗号通貨(仮想通貨)チャート置き場</title>

    <!-- Icons -->
    <link href="/coreui/css/font-awesome.min.css" rel="stylesheet">
    <link href="/coreui/css/simple-line-icons.css" rel="stylesheet">

    <!-- Main styles for this application -->
    <link href="/coreui/css/style.css" rel="stylesheet">
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden sidebar-minimized">
    <header class="app-header navbar">
        <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">☰</button>
        <button class="navbar-toggler sidebar-minimizer d-md-down-none" type="button">☰</button>
        <a class="" href="/">暗号通貨(仮想通貨)チャート置き場</a>
        <ul class="nav navbar-nav ml-auto"></ul>
    </header>

    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="icon-speedometer"></i> Dashboard</a>
                    </li>
                </ul>
            </nav>
        </div>

        <main class="main">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>

            <div class="container-fluid">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    当サイトの内容の正確性、信頼性等を保証するものではありません。
                    <br> 当サイトの情報に基づいて被ったいかなる損害についても、当サイトの管理者及び情報提供者は一切の責任を負いません。
                    <br> 投資に関するすべての決定は、利用者ご自身の判断でなさるようにお願いいたします。
                </div>

                <div class="animated fadeIn">

                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-5">
                                    <h4 class="card-title mb-0">Bitcoin (BTC)</h4>
                                    <div class="small text-muted">BTC / USD</div>
                                </div>
                            </div>

                            <div class="chart-wrapper" style="height:300px;margin-top:40px;">
                                <canvas id="chart-btc" class="chart" height="300"></canvas>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </main>
    </div>

    <footer class="app-footer">
        © 2017 暗号通貨(仮想通貨)チャート置き場.
        <span class="float-right">Powered by
            <a href="http://coreui.io">CoreUI</a>
        </span>
    </footer>

    <!-- Bootstrap and necessary plugins -->
    <script src="/coreui/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/coreui/bower_components/popper.js/index.js"></script>
    <script src="/coreui/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/coreui/bower_components/pace/pace.min.js"></script>


    <!-- Plugins and scripts required by all views -->
    <script src="/coreui/bower_components/chart.js/dist/Chart.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/chart.js-rangeslider@1.2.1/dist/RangeSlider-all.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js-rangeslider@1.2.1/dist/RangeSlider-all.min.js"></script>

    <!-- GenesisUI main scripts -->
    <script src="/coreui/js/app.js"></script>

    <!-- Plugins and scripts required by this views -->

    <!-- Custom scripts required by this view -->
    <script src="/coreui/js/views/main.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="js/charts.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-99294159-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-99294159-3');
    </script>


</body>

</html>